* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.ground{
    width: 100%;
    height: 50px;
    background-color: chocolate;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: #007bff solid 2px;
    position: relative;
    background-color: #007bff;
    margin: 100px auto;
    padding:0;
}


.player {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 50px;
    left: 50px;

}
#obstacle {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 50px;
    left: 400px; /* Adjust the position as needed */
  }

.player-svg{
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 45px;
    left: 45px; 
    background-color: blanchedalmond;
}

.obstacle-svg{
    position: absolute;
    width: 50px;
    bottom: 45px;
    background-color: black;
    animation: gerak 2s infinite linear;
}

@keyframes gerak {
    0% {
        left: 1200px;
      }
      100% {
        left: -50px;    
      }
    }

  
/* button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 16px;
    margin: 10px 0;
} */