html,body {
    height: 100%;
}

input{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

img{
    width: 200px;
    height: 200px;
}

/* Hide scrollbars, but keep scrolling functionality */
::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

.fixed-content {
    height: 100vh; /* Set fixed height to fill half of the viewport */
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f0f0f0;
    overflow-y: scroll;
  }
  
  .scrollable-content {
    height: 100vh; /* Set fixed height to fill half of the viewport */
    overflow-y: scroll; /* Enable vertical scrolling if content overflows */
  }

  .mychart{
    font-size: 25px;
    font-family: Arial;
  }

  .listchart{
    font-size: 15px;
    font-family: Arial;
  }

 